Creating master.cnf... 
# mg_extra 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# r_sna01 
.nocache
.resident
.slot slot_sna_body 1 819200
.endslot
.slot slot_sna_face 1 286720
.endslot
.slot slot_book 1 18432
.endslot
.slot slot_weapon 5 2600960
.endslot
.slot slot_oct_list 2 16384
.endslot
.slot slot_cm_body 1 333824
.endslot
.slot slot_cm_tentacle 1 43008
.endslot
@resident.qar
resident.dar
resident.vfp
.delayload_w
resident.dlz
resident_nodld.dlz
.delayload
resident_d.dlz
.cache
scenerio.gcx
 
# r_snaBE 
.nocache
.resident
.slot slot_sna_body 1 819200
.endslot
.slot slot_sna_face 1 286720
.endslot
.slot slot_book 1 18432
.endslot
.slot slot_weapon 5 2600960
.endslot
.slot slot_oct_list 2 16384
.endslot
.slot slot_oct_list_2d 4 32768
.endslot
.slot slot_cm_body 1 333824
.endslot
.slot slot_cm_tentacle 1 43008
.endslot
@resident.qar
resident.dar
resident.vfp
.delayload_w
resident.dlz
resident_nodld.dlz
.delayload
resident_d.dlz
.cache
scenerio.gcx
 
# r_snaRE 
.nocache
.resident
.slot slot_sna_body 1 819200
.endslot
.slot slot_sna_face 1 286720
.endslot
.slot slot_book 1 18432
.endslot
.slot slot_weapon 5 2600960
.endslot
.slot slot_oct_list 2 16384
.endslot
.slot slot_oct_list_2d 4 32768
.endslot
.slot slot_cm_body 1 333824
.endslot
.slot slot_cm_tentacle 1 43008
.endslot
@resident.qar
resident.dar
resident.vfp
.delayload_w
resident.dlz
resident_nodld.dlz
.delayload
resident_d.dlz
.cache
scenerio.gcx
 
# s00a00l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s00a00l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s00a10l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s00a10l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s01a00l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s01a00l.geom
s01a00l.nv2
s01a00l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s01a05l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s01a05l10a.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s01a10l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s01a10l.geom
s01a10l.nv2
s01a10l.ptl
s01a10l.zon
s01a15l.geom
s01a15l.nv2
s01a15l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s01a20l 
.nocache
.cache
.slot slot_s01a20l 1 12486656
.endslot
@cache.qar
cache.dar
cache.vfp
s01a20l.geom
s01a20l.nv2
s01a20l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s01a30l 
.nocache
.cache
.slot slot_s01a30l 4 22650880
.endslot
@cache.qar
cache.dar
cache.vfp
s01a30l.geom
s01a30l.nv2
s01a30l.ptl
s01a30l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s01a40l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s01a40l.geom
s01a40l.nv2
s01a40l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s01a50l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s01a50l.geom
s01a50l.nv2
s01a50l.ptl
s01a50l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s01a55l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s01a55l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s01a57l 
.nocache
.cache
.slot slot_s01a57l 4 24199168
.endslot
@cache.qar
cache.dar
cache.vfp
s01a57l.geom
s01a57l.nv2
s01a57l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s01a60l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s01a50l50a.nv2
s01a60l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a10l 
.nocache
.cache
.slot slot_s02a10l 3 25430016
.endslot
@cache.qar
cache.dar
cache.vfp
s02a10l.geom
s02a10l.nv2
s02a10l.ptl
s02a10l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a20l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s02a20l.geom
s02a20l.nv2
s02a20l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a25l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s02a20l20a.nv2
s02a25l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a30l 
.nocache
.cache
.slot slot_s02a30l 3 21737472
.endslot
@cache.qar
cache.dar
cache.vfp
s02a30l.geom
s02a30l.nv2
s02a30l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a40l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s02a40l.geom
s02a40l.nv2
s02a40l.ptl
s02a40l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a50l 
.nocache
.cache
.slot slot_s02a50l 1 12961792
.endslot
@cache.qar
cache.dar
cache.vfp
s02a50l.geom
s02a50l.nv2
s02a50l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a60l 
.nocache
.cache
.slot slot_s02a60l 2 18669568
.endslot
@cache.qar
cache.dar
cache.vfp
s02a60l.geom
s02a60l.nv2
s02a60l.ptl
s02a60l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a70l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s02a70l10a.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a73l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s02a73l.geom
s02a73l.ptl
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a75l 
.nocache
.cache
.slot slot_s02a75l 3 14678016
.endslot
@cache.qar
cache.dar
cache.vfp
s02a75l.geom
s02a75l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a78l 
.nocache
.cache
.slot slot_s02a78l 3 21694464
.endslot
@cache.qar
cache.dar
cache.vfp
s02a78l.geom
s02a78l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a80l 
.nocache
.cache
.slot slot_s02a80l 4 18014208
.endslot
@cache.qar
cache.dar
cache.vfp
s02a80l.geom
s02a80l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a85l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s02a85l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a90l 
.nocache
.cache
.slot slot_s02a90l 3 27285504
.endslot
@cache.qar
cache.dar
cache.vfp
s02a90l.geom
s02a90l.nv2
s02a90l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s02a95l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s02a95l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a00l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s03a00l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a10l 
.nocache
.cache
.slot slot_s03a10l 3 19101696
.endslot
@cache.qar
cache.dar
cache.vfp
s03a10l.geom
s03a10l.nv2
s03a10l.ptl
s03a10l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a15l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s03a15l.geom
s03a15l.nv2
s03a15l.ptl
s03a15l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a16l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s03a16l.geom
s03a16l.nv2
s03a16l.ptl
s03a16l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a20l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s03a20l.geom
s03a20l.nv2
s03a20l.ptl
s03a20l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a25l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s03a25l.geom
s03a25l.nv2
s03a25l.ptl
s03a25l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a30l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s03a30l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a35l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s03a35l.geom
s03a35l.ptl
s03a35l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a40l 
.nocache
.cache
.slot slot_s03a40l 3 17743872
.endslot
@cache.qar
cache.dar
cache.vfp
s03a40l.geom
s03a40l.ptl
s03a40l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a50l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s03a50l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a60l 
.nocache
.cache
.slot slot_s03a60l 5 4136960
.endslot
@cache.qar
cache.dar
cache.vfp
s03a60l.geom
s03a60l.ptl
s03a60l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a65l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s03a70l10a.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a70l 
.nocache
.cache
.slot slot_s03a70l 1 27707392
.endslot
@cache.qar
cache.dar
cache.vfp
s03a70l.geom
s03a70l.nv2
s03a70l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s03a90l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s03a90l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s04a10l 
.nocache
.cache
.slot slot_s04a10l 2 35635200
.endslot
@cache.qar
cache.dar
cache.vfp
s04a10l.geom
s04a10l.nv2
s04a10l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s04a20l 
.nocache
.cache
.slot slot_s04a20l 2 21073920
.endslot
@cache.qar
cache.dar
cache.vfp
s04a20l.geom
s04a20l.nv2
s04a20l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s04a30l 
.nocache
.cache
.slot slot_s04a30l 1 26648576
.endslot
@cache.qar
cache.dar
cache.vfp
s04a30l.geom
s04a30l.nv2
s04a30l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s04a40l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s04a40l.geom
s04a40l.nv2
s04a40l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s04a50l 
.nocache
.cache
.slot slot_s04a50l 2 15237120
.endslot
@cache.qar
cache.dar
cache.vfp
s04a50l.geom
s04a50l.nv2
s04a50l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s04a60l 
.nocache
.cache
.slot slot_s04a60l 1 20570112
.endslot
@cache.qar
cache.dar
cache.vfp
s04a60l.geom
s04a60l.nv2
s04a60l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s04a65l 
.nocache
.cache
.slot slot_s04a65l 4 24141824
.endslot
@cache.qar
cache.dar
cache.vfp
s04a65l.geom
s04a65l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s04a68l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s04a70l10a.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s04a70l 
.nocache
.cache
.slot slot_s04a70l 1 17876992
.endslot
@cache.qar
cache.dar
cache.vfp
s04a70l.geom
s04a70l.zon
s04a70l10a.nv2
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s04a75l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s04a75l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s05a10l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s05a10l.geom
s05a10l.nv2
s05a10l.ptl
s05a10l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s05a20l 
.nocache
.cache
.slot slot_s05a20l 1 18440192
.endslot
@cache.qar
cache.dar
cache.vfp
s05a20l.geom
s05a20l.nv2
s05a20l.zon
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s05a30l 
.nocache
.cache
.slot slot_s05a30l 2 18432000
.endslot
@cache.qar
cache.dar
cache.vfp
s05a30l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s05a40l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s05a45l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s05a50l10a.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s05a50l 
.nocache
.cache
.slot slot_s05a50l 1 2588672
.endslot
@cache.qar
cache.dar
cache.vfp
s05a50l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s05a55l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s05a50l10a.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s10a10l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s10a10l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s10a20l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s10a10l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s10a30l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s10a10l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s10a40l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s10a40l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s20a00l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s20a00l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s20a10l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s20a10l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s30a00l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s30a00l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# s30a10l 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
s30a10l.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# title 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
title.geom
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
# title_movie 
.nocache
.cache
@cache.qar
cache.dar
cache.vfp
.delayload_w
cache.dlz
cache_nodld.dlz
.delayload
cache_d.dlz
.cache
scenerio.gcx
 
